<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Gestion des combats</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/home/lutteur" class="nav-link">Lutteurs</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/combat" class="nav-link">Combats</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/statistique" class="nav-link">Stats</a>
          </li>

          <li class="nav-item">
            <a routerLink="/home/classement" class="nav-link">Classement</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home/actualite" class="nav-link">Actu</a>
          </li>

        </ul>
      </div>

      <button routerLink="/home/lutteur/add" type="button" class="btn btn-primary">Ajouter Lutteur</button>

    </div>
  </nav>
</div>


<router-outlet></router-outlet>
